<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>List of Pet Owners</title>
</head>
<body>
<!--/*@thymeleafVar id="owner" type="com.neo.petclinic.model.Owner"*/-->
<h2 th:text="'List of Owners'">List of Owners...</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <td style="width: 150px">ID</td>
            <td style="width: 200px">FirstName</td>
            <td style="width: 120px">LastName</td>
        </tr>
    </thead>
    <tbody>
    <tr th:each="owner : ${owners}">
        <td th:text="${owner.id}"></td>
        <td th:text="${owner.firstName}"></td>
        <td th:text="${owner.lastName}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>